.myTable {
    width: 382px;
    border: 1px white;
}
table, tr {
    border: 1px white;
    border-style: solid;
}
td{
    padding-left: 1px;

}
th{
    max-width: 20px;
}
.zero{
    background-color: rgba(255, 0, 0, 0.25);
}
.one{
    background-color: rgba(255, 0, 0, 1.0);
}
